* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}
:root {
  --color-primary: #F1CDB3;
  --color-primary-light: #FDDCC4;
  --color-dark-l: #545454;
  --color-light-l: #F6F6F6;
  --color-dark-s: #CDCDCD;
  --color-light-s: #FAFAFA;
  --color-dark-xl: #4C4C4C;
  --color-dark-3xl: #292929;
}
body {
  font-family: 'Arial', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 27px;
  color: #FFFFFF;
}
h1, 
h2,
h3,
h4,
h5 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  line-height: 130%;
}
h2 {
  color: #FFFFFF;
  font-size: 44px;
  font-weight: 400;
  line-height: 130%;
  letter-spacing: 2px;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
p, a {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: var(--color-dark-s);
  max-width: 100%;
}

.header {
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 30px 40px;
}
.header__logo {
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo__title {
  font-family: Georgia;
  font-size: 32px;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 2px;
  text-align: left;
  margin: 0;
  padding: 0;
  color: var(--color-primary)
}
.logo__subtitle {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
  color: #FFFFFF;
}

.header__menu {
  display: flex;
  height: 27px;
  width: 452px;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}


.menu__link--active::after {
  display: block;
  content: '';
  background: var(--color-primary);
  height: 3px;
}

.start {
  background: url("./assets/images/noise-lines.png"),
  radial-gradient(234.05% 111.80% at 0% 0%, #262425, #5B483A 100%), #211F20;
}

.start__content {
  padding: 180px 40px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
}

.start__text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 322px;
  flex-basis: 460px;
  margin-bottom: 80px;
}

.button {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: var(--color-dark-3xl);
}

.button--primary {
  width: 207px;
  min-height: 52px;
  border: none;
  background: var(--color-primary);
  border-radius: 100px;
}
.button--primary:hover {
  background: #FFFFFF;;
  border: 2px solid var(--color-primary);
}

.start__image-container {
  display: flex;
  align-items: flex-end;
}
.start__image {
  max-width: 100%;
  height: auto;
}
.about {
  padding: 80px 40px 100px;
}
.about-content {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.about-content__text {
  flex-basis: 380px;
}
.about-content__title {
  color: var(--color-dark-l);
}
.about-content__paragraph {
  color: var(--color-dark-xl);
}
@media (max-width: 770px) {
  .header__menu {
    display: none;
  }
}
